body {
    background-image: url('https://i.pinimg.com/originals/f6/a1/8a/f6a18ac56651ce4f9ca7e0230706a0b6.png');
    font-family: 'Roboto Mono',monospace;
    max-height: 600px;
    max-width: 600px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
    font-family: sans-serif;
  }
  
  .page-title {
    color: #3366ff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }

.eevee {
    position: fixed;
    left: 10%;
    top: 80%;
    width: 140px;
    height: 140px;
    background-image: url('https://cdn.bulbagarden.net/upload/thumb/e/e2/133Eevee.png/96px-133Eevee.png');
    background-repeat: no-repeat;
}

  h2 {
    position: absolute;
    font-size:16px;
    font-weight:bold;
    top: 142px;
    left: calc(50% - 72.5px);
    width: 145px;
    text-align:center;
  }

h3 {
  position: fixed;
  right: 10%;
  top: 75%;
}

h4 {
  position: fixed;
  left: 50%;
  top: 80%;
}
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }